language: android
android:
  components:
    - tools
    - platform-tools
    - build-tools-27.1.1
    - android-26
    - extra-android-support
    - extra-android-m2repository
    - extra-google-m2repository
jdk:
  - oraclejdk8